body {
    font: 12px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin:0px;
}
.topbar {	margin:0px;	padding:0px;	height:29px;	background:#2D2D2D;	border-bottom: 1px solid #000000;	width:100%;}
.topbar ul {	margin:0 5px;	list-style:none;	padding:0px;}
.topbar ul li {	list-style:none;	padding:0px;	margin:0px;}
.topbar ul li a{	color:#CCC;	display:block;	padding:0 10px;	line-height:29px;	text-decoration:none;}
.topbar a:link{	color:#CCC;}
.topbar a:hover{	color:#CCC;}
.topbar a:visited{	color:#CCC;	text-decoration:none;}
.topbar ul li a.on {	border-top:2px #DD4B39 solid;	line-height:25px;}
.topbar ul li a:hover {	background:#4C4C4C;	border-top:2px #DD4B39 solid;	line-height:27px;}
.fr {float:right;}
.fl {float:left;}