{% extends "base/base_login.tpl" %}
{% block title %}攻击历史{% endblock %}

{% block style %}
{% include 'user/topcss.css' %}
#content{
	width:700px;
	overflow:hidden;
	margin:0px auto;
}
table{
	border-collapse:collapse;
}
table,td{
	border:1px solid black;
}
td{
    width:300px;
    height:20px;
    text-align:center;
}

.tr_color1{
	background-color:white;
}
.tr_color2{
	background-color:#D7D7D7;
}
.title_tr{
	font-weight:700;
	color:black;
}​
{% endblock %}

{% block content %}
<div id="content">
<h2>攻击历史记录</h2>
<a href="/user/history/1/">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/history/{{forepage}}/">前一页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/history/{{behindpage}}/">后一页</a>
<table class="list_table">
<tr class="title_tr"><td>时间</td><td>攻击目标</td><td>攻击方式</td><td>邮件标题</td><td>反馈</td></tr>
{% for log in listHistoryInfo %}
<tr class="{% cycle 'tr_color1' 'tr_color2' %}">
<td>{{ log.senddate|date:"F j,Y" }}</td>
<td>{{ log.dsmail }}</td>
<td>{{ log.hackstyle }}</td>
<td>{{ log.mailtitle }}</td>
<td>{{ log.state }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}